# --- Ignore Heavy Data ---
# 1. Ignore all files in these folders...
data/iso/*
data/disks/*

# 2. ...BUT do not ignore the .gitkeep files (This keeps the folder structure)
!data/iso/.gitkeep
!data/disks/.gitkeep

# 3. Extra safety to block heavy files anywhere
*.iso
*.img
*.qcow2